// .lnr {
//   margin-right: 10%;
// }

.nesNavLogo {
  width: 20%;
  float: left;
}

.navIcon {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 5px;
}

.profIcon {
  height: 35px;
  border-radius: 7px;
  border: 2px solid white;
  margin-left: 1%;
  margin-right: 5%;
}

.navIcon[class*="lnr-"] {
  font-size: 20px;
}
