.nesNavLogo {
  width: 30%;
  float: left;
  margin-left: 5%;
}

.navIcon {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 5px;
  color: red;
}

.music-icon {
  margin-top: 0.6%;
}
.profIcon {
  height: 38px;
  border-radius: 7px;
  border: 2px solid white;
  margin-right: 5%;
  margin-left: 5px;
}

.navIcon[class*="lnr-"] {
  font-size: 20px;
}

.nav-bar {
  background: grey;
  border-bottom: 5px solid red;
  font-family: "Varela Round", sans-serif;
}
.nav-link {
  color: black !important;
}

.nav-link.active {
  color: white !important;
}

.nav-link:hover {
  color: red !important;
}

.chip-music {
  margin-right: 25px;
  margin-top: 5px;
}

.chip-music:hover {
  opacity: 0.6;
  transform: scale(1.05);
  transition: transform 0.2s;
}
