.myCartImage {
  width: 90%;
  border-radius: 10px;
  padding: 2%;
  border: 2px solid red;
}

.myCartCard {
  background-color: black;
  color: white;
  padding: 1%;
  margin: 1%;
}

.myCart-details {
  margin-top: 5%;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 50%;
  padding: 2%;
}

.myCart-details:hover {
  background-color: red;
  color: black;
}

.cart-info-icon {
  margin-left: 5%;
}

.delete-cart-icon {
  float: right;
}

.delete-cart-button {
  background-color: black;
  color: red;
  border-style: none;
  margin-left: 3%;
}

.delete-cart-icon:hover {
  color: white;
}
