const apiKeys = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
    appId: '',
  },
  nesVaultApi: {
    apiBaseUrl: '',
  },
};

export default apiKeys;