.nes-cart-detail-wrapper {
  width: 50%;
  height: 400px;
  border-radius: 10px;
  border: 5px solid red;
  margin-bottom: 5%;
  padding: 3%;
}

.singleNesCart-image {
  float: left;
  width: 50%;
}

.nes-detail {
  min-height: 70vh;
}

.nes-cart-detail-single {
  margin-top: 5%;
  margin-left: 5%;
}

.backToCollection {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  border-radius: 20px;
  background-color: red;
  color: white;
  float: middle;
  padding: 1040;
  text-align: center;
  width: 35%;
  height: 50%;
}

.backToCollection:hover {
  background-color: grey;
  color: black;
}

.back {
  margin-right: 10%;
}
