.Profile {
  margin-top: 0px;
}

.card {
  background-color: black;
  width: 85%;
}

.profile-card-img {
  height: 100%;
  width: 100%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: 2px solid white;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: red;
  color: black;
  border-bottom: 2px solid black;
  border-top: 3px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Varela Round", sans-serif;
}

.card-body {
  color: black;
  background-color: grey;
  border-top: 2px solid black;
}

.profile-container {
  margin-left: -10%;
  margin-bottom: 3%;
}

.edit-profile-button {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: red;
  width: 25%;
}

// Charts //
.chart-b {
  margin-left: 120%;
  margin-top: -100%;
  // border: 2px solid white;
  // border-radius: 10px;
}

.chart-a {
  margin-left: 0%;
  margin-top: -5%;
  // border: 2px solid white;
  // border-radius: 10px;
}

// .chart-one {
//   width: 100px;
// }

// .chart-two {
//   width: 100px;
// }
