.Profile {
  margin-top: -20%;
  min-height: 120vh;
}

.card {
  background-color: black;
  width: 90%;
}

.profile-card-img {
  height: 100%;
  width: 100%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: 2px solid white;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: red;
  color: white;
  text-shadow: 2px 2px #000000;
  border-bottom: 2px solid black;
  border-top: 3px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Varela Round", sans-serif;
}

.card-body {
  color: black;
  background-color: grey;
  border-top: 2px solid black;
}

.profile-container {
  margin-left: -10%;
  margin-bottom: 3%;
}

.edit-profile-button {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: red;
  width: 25%;
}

.edit-profile-button-top {
  border: 2px solid white;
  border-radius: 10px;
  background-color: black;
  color: red;
  width: 25%;
  // float: right;
  margin-left: 2%;
}

// Charts //
.pie-chart {
  margin-top: -200%;
  margin-left: 250%;
}

.profile-info {
  // background-image: url("https://www.pngkey.com/png/full/495-4957129_nintendo-nes-controller.png");
  // background-attachment: scroll;
  // background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 1px 1px #000000;
  color: white !important;
}
