.admin-home {
  text-align: center;
  min-height: 80vh;
  background-color: black;
  margin-left: 1%;
  margin-right: 1%;
}

.admin-card {
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.admin-icon {
  max-width: 200px;
}
