.cart-item {
  color: white;
}

.add-cart-button {
  background: red;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

.magic-wand-button {
  color: red;
  cursor: pointer;
}

.cart-img {
  width: 35%;
}
