.cart-item {
  color: white;
}

.add-cart-button {
  background: red;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

.add-cart-button:hover {
  color: white;
  background: black;
}

.magic-wand-button {
  color: red;
  cursor: pointer;
}

.magic-wand-button:hover {
  color: white;
  background: black;
}

.wish-list-button {
  color: red;
  cursor: pointer;
}

.wish-list-button:hover {
  color: white;
  background: black;
}

.cart-img {
  width: 35%;
}
